{% extends '::base.html.twig' %}
{% block title %}
Login
{% endblock %}
{% block body %}



<section>
        {% if error %}
        <div id="msg_error">Usuario o contraseña incorrectos</div>
        {% endif %}

        <form id="login" name="login" class="ac-form" method="post" action="{{ url('vivelaaventura_login_check') }}">
            <!--label>Usuario</label-->
            <input type="text" id="username" name="_username" autofocus required placeholder="Usuario"/>
            <!--label>Contraseña</label-->
            <input type="password" id="password" name="_password" required placeholder="Contraseña"/>
            <input type="submit" id="aceptar" name="aceptar" value="Aceptar" />
        </form>
    </section>





{% endblock %}