{% extends "::base.html.twig" %}

{% block title %}vivelaaventuraBundle:TipoActividad:editActividad{% endblock %}

{% block body %}
<h1>Welcome to the TipoActividad:editActividad page</h1>
{% endblock %}
