{% block title %}vivelaaventuraBundle:TipoActividad:editActividad{% endblock %}

{% block body %}
<h1>Welcome to the TipoActividad:editActividad page</h1>
<form action= "{{action}}" method= "post">
		{{form_widget(form)}}
		<input type="submit" value="create">
	</form>
{% endblock %}
