{% extends "::base.html.twig" %}

{% block title %}vivelaaventuraBundle:TipoActividad:listActividad{% endblock %}

{% block body %}
<h1>Welcome to the TipoActividad:listActividad page</h1>
{% endblock %}
