{% extends "::base.html.twig" %}

{% block title %}vivelaaventuraBundle:TipoActividad:newActividad{% endblock %}

{% block body %}
<h1>Welcome to the TipoActividad:newActividad page</h1>
{% endblock %}
