{% extends "::base.html.twig" %}

{% block title %}vivelaaventuraBundle:TipoActividad:updateActividad{% endblock %}

{% block body %}
<h1>Welcome to the TipoActividad:updateActividad page</h1>
{% endblock %}
